################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/inkscape-unicorn.sln
/inkscape-unicorn.pyproj
/src/customRectsTest.gcode
/src/fillDensityTest.gcode
/src/laserIntensityTest.gcode
/src/speedTest.gcode
